<table mat-table [dataSource]="discs" class="mat-elevation-z8">

    <ng-container matColumnDef="brand">
        <th class="w-100" mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let disc">{{disc.brand}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th class="w-100" mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let disc">{{disc.name}}</td>
    </ng-container>
    <ng-container matColumnDef="plastic">
        <th class="w-100" mat-header-cell *matHeaderCellDef> Plastic </th>
        <td mat-cell *matCellDef="let disc">{{disc.plastic}}</td>
    </ng-container>
    <ng-container matColumnDef="stability">
        <th class="w-125" mat-header-cell *matHeaderCellDef> Stability </th>
        <td mat-cell *matCellDef="let disc">{{disc.stability}}</td>
    </ng-container>
    <ng-container matColumnDef="speed">
        <th class="w-50" mat-header-cell *matHeaderCellDef> Speed </th>
        <td mat-cell *matCellDef="let disc">{{disc.speed}}</td>
    </ng-container>
    <ng-container matColumnDef="glide">
        <th class="w-50" mat-header-cell *matHeaderCellDef> Glide </th>
        <td mat-cell *matCellDef="let disc">{{disc.glide}}</td>
    </ng-container>
    <ng-container matColumnDef="turn">
        <th class="w-50" mat-header-cell *matHeaderCellDef> Turn </th>
        <td mat-cell *matCellDef="let disc">{{disc.turn}}</td>
    </ng-container>
    <ng-container matColumnDef="fade">
        <th class="w-50" mat-header-cell *matHeaderCellDef> Fade </th>
        <td mat-cell *matCellDef="let disc">{{disc.fade}}</td>
    </ng-container>
    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let disc"><a mat-raised-button href="{{disc.link}}" target="_blank">More Info</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
