<div class="addDiscContainer">
    <mat-form-field appearance="fill">
        <mat-label><i>Brand</i></mat-label>
        <mat-select required>
            <mat-option value="option">Axiom</mat-option>
            <mat-option value="option">DCA</mat-option>
            <mat-option value="option">Discmania</mat-option>
            <mat-option value="option">Discraft</mat-option>
            <mat-option value="option">Dynamic Discs</mat-option>
            <mat-option value="option">Gateway</mat-option>
            <mat-option value="option">Innova</mat-option>
            <mat-option value="option">Latitude 64</mat-option>
            <mat-option value="option">MVP</mat-option>
            <mat-option value="option">Other</mat-option>
            <mat-option value="option">Prodigy</mat-option>
            <mat-option value="option">Westside</mat-option>
        </mat-select>
    </mat-form-field>
</div>


